{% extends 'base.html' %}
{% block head %}<title>Music App</title>{% endblock %}
{% block content %}

<h2>Music allbum</h2>
<h3><a href="{% url 'music:album-add' %}">Add Album</a></h3>
{% for album in all_album %}
<div>
<img src="{{album.album_logo.url}}" height="200px;" width="250px;"/>
<h3><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a></h3>
<a href="{% url 'music:album-update' album.id %}">Update Album</a>
<a href="{% url 'music:album-delete' album.id %}">Delete Album</a>
</div>
{% endfor %}

{% endblock %}